<div id="aboutContent" class="by aha ahl" th:fragment="aboutContent" style="display: none;">
    <div class="dp">
        <div class="fj">
            <div class="ca afo">
                <a href="#" class="b rx vb xn">
                    <span>General</span>
                </a>
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx vb xn">
                    <span>Profile</span>

                </a>
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx vb xn">
                    <span>Account</span>

                </a>
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx vb xn">
                    <span>Privacy</span>

                </a>
                <a href="#" class="b rx vb xn">
                    <span>Blocked Users</span>

                </a>
            </div>

        </div>


        <div class="fj">
            <div th:replace="fragments/onlineFriendsContainer :: onlineFriendsContainer"></div>
        </div>
    </div>
</div>