<div id="reviewsContent" class="by aha ahl" th:fragment="reviewsContent" style="display: none;">
    <div class="dp">
        <div class="fj">
            <div class="ca afo">
                <a href="#" class="b rx vb xn">
                    <span>sa</span>
                    <span class="badge badge-primary" style="font-size: 11px;">0</span>
                </a>
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx vb xn">
                    <span>Groups</span>
                    <span class="badge badge-primary" style="font-size: 11px;">0</span>
                </a>
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx vb xn">
                    <span>Locals</span>
                    <span class="badge badge-primary" style="font-size: 11px;">0</span>
                </a>
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx vb xn">
                    <span>Mentions</span>
                    <span class="badge badge-primary" style="font-size: 11px;">0</span>
                </a>
            </div>

            <div th:replace="fragments/aboutContainer :: aboutContainer"></div>

            <div th:replace="fragments/photosContainer :: photosContainer"></div>
        </div>

        <div th:replace="fragments/live_feed :: liveFeed"></div>

        <div class="fj">
            <div th:replace="fragments/onlineFriendsContainer :: onlineFriendsContainer"></div>
        </div>
    </div>
</div>