<div th:fragment="status" th:each="status: ${statuses}">
    <li class="rv b agz">
        <img class="bos vb yb aff" src="images/avatar-fat.jpg">
        <div class="rw">
            <div class="bpb">
                <small class="acx axc" name="statusDate" th:text="${status.date}"></small>
                <a style="text-decoration: none !important;" th:href="@{'/user/@' + ${status.username}}"><h6 th:inline="text">[[${status.name}]] <small style="color:grey;" th:inline="text">@[[${status.username}]]</small></h6></a>
            </div>

            <p style="overflow-wrap: break-word;" th:text="${status.message}">

            </p>
            <div class="bottom-align-text" style="margin-top:34px !important;">
                <hr/>
                <div class="row">
                    <div class="col-3 col-sm-3"><a th:id="'like-' + ${status.id}" href="#/"><i id="likesBeer" onMouseOver="this.style.color='Tomato'" onMouseOut="this.style.color='grey'" style="color: grey;" class="fas fa-beer" th:inline="text"> [[${status.likes}]]</i></a></div>
                    <div class="col-3 col-sm-3"><a style="text-decoration: none !important;" href="#/" th:id="'comments-'+${status.id}"><i class="fas fa-comment" style="color: grey;"></i><small data-toggle="collapse" th:attr="data-target='#comments-'+${status.id}" > Comment</small></a></div>
                    <div class="col-3 col-sm-3"><a style="text-decoration: none !important;" href="#/"><i class="fas fa-share" style="color: grey;"></i><small class="share"> Share</small></a></div>

                    <div class="col-3 col-sm-3">
                        <div class="dropdown show">
                            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h" style="color: grey;"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <div th:if="${id} == ${status.user_id}">
                                    <a class="dropdown-item"href="#/"><i class="far fa-edit"></i> Edit</a>
                                    <a class="dropdown-item"href="#/"><i class="fas fa-minus-circle"></i> Delete</a>
                                </div>
                                <div th:if="${id} != ${status.user_id}">
                                    <a class="dropdown-item" href="#/"><i class="far fa-times-circle"></i> Unfollow</a>
                                    <a class="dropdown-item" href="#/" th:inline="text"><i class="far fa-eye-slash"></i> Hide All from @[[${status.username}]]</a>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <ul class="bow afa collapse" th:id="'comments-'+${status.id}">
                <hr/>
            <div th:replace="fragments/comment :: comment"></div>
                <br/>
                <li class="rv">
                    <img class="bos vb yb aff" src="images/avatar-fat.jpg">
                    <div class="rw">
                        <input type="text" th:id="'commentMessage-'+${status.id}" name="comment" class="form-control" placeholder="Enter Comment: ">
                    </div>
                </li>
            </ul>
        </div>
    </li>
</div>