<div class="pz bpi afo" th:fragment="userProfileContainer">
    <div class="qf" style="background-image: url(../images/iceland.jpg) !important;"></div>
    <div class="qa avz">
        <a href="https://bootstrap-themes.github.io/application/profile/index.html">
            <img class="bpj" src="../images/avatar-fat.jpg">
        </a>

        <h6 class="qb">
            <a class="boa" href="profile" th:text="${userDetails.name}">You have no name?</a>
        </h6>

        <p class="afo">I wish i was a little bit taller, wish i was a baller, wish i had a girl…&nbsp;also.</p>

        <ul class="bpk">
            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Followers
                    <h6 class="aej">200</h6>
                </a>
            </li>

            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Rating
                    <h6 class="aej" th:text="${userDetails.rating}"></h6>
                </a>
            </li>

        </ul>
    </div>
</div>