<div class="pz vp vy afo" th:fragment="aboutContainer">
    <div class="qa">
        <h6 class="afh">About <small>· <a href="https://bootstrap-themes.github.io/application/index.html#">Edit</a></small></h6>
        <ul class="dc axg">
            </li><li><i class="fas fa-users"></i> Became friends with <a href="https://bootstrap-themes.github.io/application/index.html#">Obama</a>
        </li><li><i class="fas fa-home"></i></span> Lives in <a href="https://bootstrap-themes.github.io/application/index.html#">San Francisco, CA</a>
        </li><li><i class="fas fa-building"></i></span> From <a href="https://bootstrap-themes.github.io/application/index.html#">Seattle, WA</a>
        </li></ul>
    </div>
</div>