<div class="fm" th:fragment="liveFeed">

    <ul class="ca bow box afo">

        <li class="rv b agz">
            <div class="input-group">
                <input type="text" id="statusMsg" class="form-control" placeholder="Message">
                <div class="bpt">
                    <button type="button" id="statusBtn" class="cg ns yf">
                        <i id="statusLoadIcon" class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </li>
        <div id="liveFeed">
        <div th:replace="fragments/status :: status"></div>
            <div class="loader"></div>
        </div>
    </ul>
</div>