<div class="pz afo d-none vy" th:fragment="recommendedContainer">
    <div class="qa">
        <h6 class="afh">Recommended <small>· <a href="recommendations">View All</a></small></h6>
        <ul class="bow box">
            <li class="rv afa">
                <img class="bos vb yb aff" src="images/avatar-fat.jpg">
                <div class="rw">
                    <strong>Jacob Thornton</strong> @fat
                    <div class="bpa">
                        <button class="cg nz ok">
                            <i class="far fa-plus-square"></i> Follow</button>
                    </div>
                </div>
            </li>
            <li class="rv">
                <a class="bpu" href="https://bootstrap-themes.github.io/application/index.html#">
                    <img class="bos vb yb aff" src="images/avatar-mdo.png">
                </a>
                <div class="rw">
                    <strong>Mark Otto</strong> @mdo
                    <div class="bpa">
                        <button class="cg nz ok">
                            <i class="far fa-plus-square"></i> Follow</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="qg">
        Dave really likes these nerds, no one knows why though.
    </div>
</div>