<div class="pz afo d-none vy" th:fragment="recommendedContainer">
    <div class="qa">
        <h6 class="afh">Recommended <small>· <a href="recommendations">View All</a></small></h6>
        <ul class="bow box">
            <li class="rv afa"  th:each="recommendedUser: ${recommendedUsers}">
                <img class="bos vb yb aff" src="images/avatar-fat.jpg">
                <div class="rw">
                    <a style="text-decoration: none !important;" th:href="@{'/user/@' + ${recommendedUser.username}}"><strong th:inline="text">[[${recommendedUser.name}]] <small style="color:grey;" th:inline="text">@[[${recommendedUser.username}]]</small></strong></a>
                    <div class="bpa">
                        <button class="cg nz ok">
                            <i class="far fa-plus-square"></i> Follow</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="qg">
        Dave really likes these nerds, no one knows why though.
    </div>
</div>