<div th:fragment="status" th:each="status: ${statuses}">
<li class="rv b agz">
    <img class="bos vb yb aff" src="images/avatar-fat.png">
    <div class="rw">
        <div class="bpb">
            <small class="acx axc">4 min</small>
            <h6>Dave Gamache</h6>
        </div>

        <p th:text="${status.message}">

        </p>

        <ul class="bow afa">
            <li class="rv afh">
                <img class="bos vb yb aff" src="images/avatar-fat.jpg">
                <div class="rw">
                    <strong>Jacon Thornton: </strong>
                    Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
                </div>
            </li>
            <li class="rv">
                <img class="bos vb yb aff" src="images/avatar-mdo.png">
                <div class="rw">
                    <strong>Mark Otto: </strong>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </div>
            </li>
        </ul>
    </div>
</li>
</div>