                    <!DOCTYPE html>
                    <html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

                        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <meta name="description" content="">
                        <meta name="keywords" content="">
                        <meta name="author" content="">

                        <title>Notifications | Sesh</title>

                        <link href="css" rel="stylesheet" type="text/css">
                        <link href="css/toolkit.css" rel="stylesheet">

                        <link href="css/application.css" rel="stylesheet">

                        <style>
                          /* note: this is a hack for ios iframe for bootstrap themes shopify page */
                          /* this chunk of css is not part of the toolkit :) */
                          body {
                            width: 1px;
                            min-width: 100%;
                            *width: 100%;
                          }
                        </style>

                      </head>


                    <body class="bob">



                    <div class="bon" id="app-growl"></div>

                    <nav class="ck pt adq py tk app-navbar">

                      <a class="e" href="https://bootstrap-themes.github.io/application/index.html">
                        <img src="images/brand-white.png" alt="brand">
                      </a>

                      <button class="pp bpn vm" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="pq"></span>
                      </button>

                      <div class="collapse f" id="navbarResponsive">
                        <ul class="navbar-nav ahq">
                          <li class="pi">
                            <a class="pg" href="https://bootstrap-themes.github.io/application/index.html">Home <span class="adt">(current)</span></a>
                          </li>
                          <li class="pi">
                            <a class="pg" href="https://bootstrap-themes.github.io/application/profile/index.html">Profile</a>
                          </li>
                          <li class="pi">
                            <a class="pg" data-toggle="modal" href="https://bootstrap-themes.github.io/application/notifications/index.html#msgModal">Messages</a>
                          </li>
                          <li class="pi">
                            <a class="pg" href="https://bootstrap-themes.github.io/application/docs/index.html">Docs</a>
                          </li>

                          <li class="pi vm">
                            <a class="pg" href="https://bootstrap-themes.github.io/application/notifications/index.html">Notifications</a>
                          </li>
                          <li class="pi vm">
                            <a class="pg" data-action="growl">Growl</a>
                          </li>
                          <li class="pi vm">
                            <a class="pg" href="https://bootstrap-themes.github.io/application/login/index.html">Logout</a>
                          </li>

                        </ul>

                        <form class="nn acx d-none vt">
                          <input class="form-control" type="text" data-action="grow" placeholder="Search" style="width: 180px;">
                        </form>

                        <ul id="#js-popoverContent" class="nav navbar-nav acx aek d-none vt">
                          <li class="pi">
                            <a class="g pg" href="https://bootstrap-themes.github.io/application/notifications/index.html">
                              <span class="h azy"></span>
                            </a>
                          </li>
                          <li class="pi afb">
                            <button class="cg bpo bpp boi" data-toggle="popover" data-original-title="" title="">
                              <img class="us" src="images/avatar-dhg.png">
                            </button>
                          </li>
                        </ul>

                        <ul class="nav navbar-nav d-none" id="js-popoverContent">
                          <li class="pi"><a class="pg" href="https://bootstrap-themes.github.io/application/notifications/index.html#" data-action="growl">Growl</a></li>
                          <li class="pi"><a class="pg" href="https://bootstrap-themes.github.io/application/login/index.html">Logout</a></li>
                        </ul>
                      </div>
                    </nav>

                    <div class="cd fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="bpq" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="d">
                            <h5 class="modal-title">Messages</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          </div>

                          <div class="modal-body afx js-modalBody">
                            <div class="axw">
                              <div class="bow cj ca js-msgGroup">
                                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx">
                                  <div class="rv">
                                    <img class="us bos vb yb aff" src="images/avatar-fat.jpg">
                                    <div class="rw">
                                      <strong>Jacob Thornton</strong> and <strong>1 other</strong>
                                      <div class="bpg">
                                        Aenean eu leo quam. Pellentesque ornare sem lacinia quam …
                                      </div>
                                    </div>
                                  </div>
                                </a>
                                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx">
                                  <div class="rv">
                                    <img class="us bos vb yb aff" src="images/avatar-mdo.png">
                                    <div class="rw">
                                      <strong>Mark Otto</strong> and <strong>3 others</strong>
                                      <div class="bpg">
                                        Brunch sustainable placeat vegan bicycle rights yeah…
                                      </div>
                                    </div>
                                  </div>
                                </a>
                                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx">
                                  <div class="rv">
                                    <img class="us bos vb yb aff" src="images/avatar-dhg.png">
                                    <div class="rw">
                                      <strong>Dave Gamache</strong>
                                      <div class="bpg">
                                        Brunch sustainable placeat vegan bicycle rights yeah…
                                      </div>
                                    </div>
                                  </div>
                                </a>
                                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx">
                                  <div class="rv">
                                    <img class="us bos vb yb aff" src="images/avatar-fat.jpg">
                                    <div class="rw">
                                      <strong>Jacob Thornton</strong> and <strong>1 other</strong>
                                      <div class="bpg">
                                        Aenean eu leo quam. Pellentesque ornare sem lacinia quam …
                                      </div>
                                    </div>
                                  </div>
                                </a>
                                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx">
                                  <div class="rv">
                                    <img class="us bos vb yb aff" src="images/avatar-mdo.png">
                                    <div class="rw">
                                      <strong>Mark Otto</strong> and <strong>3 others</strong>
                                      <div class="bpg">
                                        Brunch sustainable placeat vegan bicycle rights yeah…
                                      </div>
                                    </div>
                                  </div>
                                </a>
                                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx">
                                  <div class="rv">
                                    <img class="us bos vb yb aff" src="images/avatar-dhg.png">
                                    <div class="rw">
                                      <strong>Dave Gamache</strong>
                                      <div class="bpg">
                                        Brunch sustainable placeat vegan bicycle rights yeah…
                                      </div>
                                    </div>
                                  </div>
                                </a>
                                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx">
                                  <div class="rv">
                                    <img class="us bos vb yb aff" src="images/avatar-fat.jpg">
                                    <div class="rw">
                                      <strong>Jacob Thornton</strong> and <strong>1 other</strong>
                                      <div class="bpg">
                                        Aenean eu leo quam. Pellentesque ornare sem lacinia quam …
                                      </div>
                                    </div>
                                  </div>
                                </a>
                                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx">
                                  <div class="rv">
                                    <img class="us bos vb yb aff" src="images/avatar-mdo.png">
                                    <div class="rw">
                                      <strong>Mark Otto</strong> and <strong>3 others</strong>
                                      <div class="bpg">
                                        Brunch sustainable placeat vegan bicycle rights yeah…
                                      </div>
                                    </div>
                                  </div>
                                </a>
                                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx">
                                  <div class="rv">
                                    <img class="us bos vb yb aff" src="images/avatar-dhg.png">
                                    <div class="rw">
                                      <strong>Dave Gamache</strong>
                                      <div class="bpg">
                                        Brunch sustainable placeat vegan bicycle rights yeah…
                                      </div>
                                    </div>
                                  </div>
                                </a>
                              </div>

                              <div class="d-none afc js-conversation">
                                <ul class="bow bpc">
                                  <li class="rv bpf afo">
                                    <div class="rw">
                                      <div class="bpd">
                                        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
                                      </div>
                                      <div class="bpe">
                                        <small class="axc">
                                          <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Dave Gamache</a> at 4:20PM
                                        </small>
                                      </div>
                                    </div>
                                    <img class="us bos vb yb afi" src="images/avatar-dhg.png">
                                  </li>

                                  <li class="rv afo">
                                    <img class="us bos vb yb aff" src="images/avatar-fat.jpg">
                                    <div class="rw">
                                      <div class="bpd">
                                       Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                                      </div>
                                      <div class="bpd">
                                       Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                                      </div>
                                      <div class="bpd">
                                       Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
                                      </div>
                                      <div class="bpe">
                                        <small class="axc">
                                          <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Fat</a> at 4:28PM
                                        </small>
                                      </div>
                                    </div>
                                  </li>

                                  <li class="rv afo">
                                    <img class="us bos vb yb aff" src="images/avatar-mdo.png">
                                    <div class="rw">
                                      <div class="bpd">
                                       Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
                                      </div>
                                      <div class="bpd">
                                       Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                      </div>
                                      <div class="bpe">
                                        <small class="axc">
                                          <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Mark Otto</a> at 4:20PM
                                        </small>
                                      </div>
                                    </div>
                                  </li>

                                  <li class="rv bpf afo">
                                    <div class="rw">
                                      <div class="bpd">
                                        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.
                                      </div>
                                      <div class="bpe">
                                        <small class="axc">
                                          <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Dave Gamache</a> at 4:20PM
                                        </small>
                                      </div>
                                    </div>
                                    <img class="us bos vb yb afi" src="images/avatar-dhg.png">
                                  </li>

                                  <li class="rv afo">
                                    <img class="us bos vb yb aff" src="images/avatar-fat.jpg">
                                    <div class="rw">
                                      <div class="bpd">
                                       Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                                      </div>
                                      <div class="bpd">
                                       Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                                      </div>
                                      <div class="bpd">
                                       Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
                                      </div>
                                      <div class="bpe">
                                        <small class="axc">
                                          <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Fat</a> at 4:28PM
                                        </small>
                                      </div>
                                    </div>
                                  </li>

                                  <li class="rv afo">
                                    <img class="us bos vb yb aff" src="images/avatar-mdo.png">
                                    <div class="rw">
                                      <div class="bpd">
                                       Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
                                      </div>
                                      <div class="bpd">
                                       Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                      </div>
                                      <div class="bpe">
                                        <small class="axc">
                                          <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Mark Otto</a> at 4:20PM
                                        </small>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="by aha ahl">
                      <div class="dp">
                        <div class="fj">

                          <div class="ca afo">
                            <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx vb xn">
                              <span>Notifications</span>
                              <span class="h aye"></span>
                            </a>
                            <a href="https://bootstrap-themes.github.io/application/notifications/index.html#" class="b rx vb xn">
                              <span>Mentions</span>
                              <span class="h aye"></span>
                            </a>
                          </div>

                           <div class="pz d-none vy afo">
                            <div class="qa">
                              <h6 class="afh">Photos <small>· <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Edit</a></small></h6>
                              <div data-grid="images" data-target-height="150"><div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
                                  <img data-width="640" data-height="640" data-action="zoom" src="instagram_5.jpg" style="width: 114px; height: 115px;">
                                </div><div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
                                  <img data-width="640" data-height="640" data-action="zoom" src="instagram_6.jpg" style="width: 114px; height: 115px;">
                                </div><div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
                                  <img data-width="640" data-height="640" data-action="zoom" src="instagram_7.jpg" style="width: 114px; height: 115px;">
                                </div><div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
                                  <img data-width="640" data-height="640" data-action="zoom" src="instagram_8.jpg" style="width: 114px; height: 115px;">
                                </div><div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
                                  <img data-width="640" data-height="640" data-action="zoom" src="instagram_9.jpg" style="width: 114px; height: 115px;">
                                </div><div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
                                  <img data-width="640" data-height="640" data-action="zoom" src="instagram_10.jpg" style="width: 114px; height: 115px;">
                                </div></div>
                            </div>
                          </div>

                          <div class="pz d-none vy">
                            <div class="qa">
                              <h6 class="afh">Trending Searches <small>· <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Change</a></small></h6>
                              <ul class="dc axg">
                                <li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">#Bootstrap</a>
                                </li><li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Mdo for pres</a>
                                </li><li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">#fatsux</a>
                                </li><li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">#buyme</a>
                                </li><li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">#designishard</a>
                                </li><li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">#helpawesomepeople</a>
                                </li><li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">#doawesomestuff</a>
                                </li><li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Tom Brady</a>
                                </li><li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Magna Carta</a>
                                </li><li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Mark Otto</a>
                                </li><li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Dave Gamache</a>
                                </li><li><a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Jacob Thornton</a>
                              </li></ul>
                            </div>
                          </div>
                        </div>

                        <div class="fm">
                          <ul class="ca bow box afa">
                            <li class="b agz">
                              <h4 class="aeh">Notifications</h4>
                            </li>

                            <li class="b rv agz">
                              <span class="h bfb axc aey"></span>

                              <div class="rw">
                              <small class="axc acx">1 min</small>
                                <div class="bpb">
                                  <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Dave Gamache</strong></a> went traveling
                                </div>
                              </div>
                            </li>

                            <li class="b rv agz">
                              <span class="h bex axc aey"></span>

                              <div class="rw">
                                <small class="acx axc">3 min</small>
                                <div class="bpb">
                                  <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Mark Otto</strong></a> played destiny
                                </div>
                              </div>
                            </li>

                            <li class="b rv agz">
                              <span class="h bnb axc aey yb"></span>

                              <div class="rw">
                                <small class="acx axc">34 min</small>
                                <div class="bpb afa">
                                  <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Fat</strong></a> and <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>1 other</strong></a> followed you
                                </div>
                                <ul class="bol">
                                  <li class="bom"><img class="us" src="images/avatar-fat.jpg">
                                  </li><li class="bom"><img class="us" src="images/avatar-dhg.png">
                                </li></ul>
                              </div>
                            </li>

                            <li class="b rv agz">
                              <span class="h bao axc aey yb"></span>

                              <div class="rw">
                                <small class="acx axc">3 min</small>
                                <div class="bpb">
                                  <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Dave Gamache</strong></a> uploaded a photo
                                </div>

                                <div class="boy" data-grid="images"><img style="display: inline-block; width: 519px; height: 503px; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;" data-width="640" data-height="640" data-action="zoom" src="instagram_3.jpg"></div>
                              </div>
                            </li>

                            <li class="b rv agz">
                              <span class="h bed axc aey yb"></span>

                              <div class="rw">
                                <small class="acx axc">3 min</small>
                                <div class="bpb">
                                  <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Mark Otto</strong></a> flagged your post
                                </div>

                                <div class="pz aew">
                                  <div class="qa">
                                    <div class="rv">
                                      <img class="bos us aff yb" src="images/avatar-fat.jpg">
                                      <div class="rw">
                                        <div class="bpd">
                                          <div class="bpb">
                                            <small class="acx axc">1 hr</small>
                                            <h6>Jacob Thornton</h6>
                                          </div>
                                          Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>

                            <li class="b rv agz">
                              <span class="h bfn axc aey yb"></span>

                              <div class="rw">
                                <small class="acx axc">4 hr</small>
                                <div class="bpb afa">
                                  <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Mark Otto</strong></a> and <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>2 others</strong></a> favorited your post
                                </div>
                                <ul class="bol">
                                  <li class="bom"><img class="us" src="images/avatar-dhg.png">
                                  </li><li class="bom"><img class="us" src="images/avatar-mdo.png">
                                  </li><li class="bom"><img class="us" src="images/avatar-fat.jpg">
                                </li></ul>
                              </div>
                            </li>

                            <li class="b rv agz">
                              <span class="h bnb axc aey yb"></span>

                              <div class="rw">
                                <small class="acx axc">30 min</small>
                                <div class="bpb">
                                  You followed <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Jacob Thornton</strong></a> and <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>1 other</strong></a>
                                </div>

                                <div class="aew">
                                  <div class="dp">
                                    <div class="fm">
                                      <div class="pz bpi afa">
                                        <div class="qf" style="background-image: url(../images/instagram_4.jpg);"></div>
                                        <div class="qa avz">
                                          <img class="bpj" src="images/avatar-fat.jpg">
                                          <h5 class="qb">Jacob Thornton</h5>
                                          <p class="afo">Big belly rude boy, million dollar hustler. Unemployed.</p>
                                          <button class="cg nz ok">
                                            <span class="h ayi"></span> Follow
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="fm">
                                      <div class="pz bpi afa">
                                        <div class="qf" style="background-image: url(../images/instagram_1.jpg);"></div>
                                        <div class="qa avz">
                                          <img class="bpj" src="images/avatar-mdo.png">
                                          <h5 class="qb">Mark Otto</h5>
                                          <p class="afo">GitHub and Bootstrap. Formerly at Twitter. Huge nerd.</p>
                                          <button class="cg nz ok">
                                            <span class="h ayi"></span> Follow
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>

                            <li class="b rv agz">
                              <span class="h bbr axc aey yb"></span>

                              <div class="rw">
                                <small class="acx axc">30 min</small>
                                <div class="bpb afa">
                                  <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Jacob Thornton</strong></a> and <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>1 other</strong></a> updated their settings
                                </div>
                                <ul class="bol">
                                  <li class="bom"><img class="us" src="images/avatar-fat.jpg">
                                  </li><li class="bom"><img class="us" src="images/avatar-dhg.png">
                                </li></ul>
                              </div>
                            </li>

                            <li class="b rv agz">
                              <span class="h bci axc aey yb"></span>

                              <div class="rw">
                                <small class="acx axc">1 min</small>
                                <div class="bpb">
                                  <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Jacob Thornton</strong></a> quit his job
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="fj">

                          <div class="pz afo d-none vy">
                            <div class="qa">
                            <h6 class="afh">Active Users <small>· <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">View All</a></small></h6>
                            <ul class="bow box">
                              <li class="rv afh">
                                <img class="bos bqy aff yb" src="images/avatar-fat.jpg">
                                <div class="rw">
                                  <strong>Jacob Thornton</strong> @fat
                                  <div class="bpa">
                                    <button class="cg nz ok">
                                      <span class="h ayi"></span> Follow</button>
                                  </div>
                                </div>
                              </li>
                               <li class="rv">
                                <img class="bos bqy aff bqz" src="images/avatar-mdo.png">
                                <div class="rw">
                                  <strong>Mark Otto</strong> @mdo
                                  <div class="bpa">
                                    <button class="cg nz ok">
                                      <span class="h ayi"></span> Follow</button>
                                  </div>
                                </div>
                              </li>
                            </ul>
                            </div>
                            <div class="qg">
                              Dave really likes these nerds, no one knows why though.
                            </div>
                          </div>


                            <div class="pz bpm">
                              <div class="qa">
                              © 2018 Bootstrap
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">About</a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Help</a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Terms</a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Privacy</a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Cookies</a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Ads </a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Info</a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Brand</a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Blog</a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Status</a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Apps</a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Jobs</a>
                              <a href="https://bootstrap-themes.github.io/application/notifications/index.html#">Advertise</a>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>


                        <script src="js/jquery.min.js"></script>
                        <script src="js/popper.min.js"></script>
                        <script src="js/chart.js"></script>
                        <script src="js/toolkit.js"></script>
                        <script src="js/application.js"></script>
                        <script>
                          // execute/clear BS loaders for docs
                          $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
                        </script>



                    </body></html>