<div th:fragment="settings_box">

    <li class="b rv agz">
        <span class="h bex axc aey"></span>

        <div class="rw">
            <small class="acx axc">3 min</small>
            <div class="bpb">
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Mark Otto</strong></a> played destiny
            </div>
        </div>
    </li>

    <li class="b rv agz">
        <span class="h bnb axc aey yb"></span>

        <div class="rw">
            <small class="acx axc">34 min</small>
            <div class="bpb afa">
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Fat</strong></a> and <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>1 other</strong></a> followed you
            </div>
            <ul class="bol">
                <li class="bom"><img class="us" src="images/avatar-fat.jpg">
                </li><li class="bom"><img class="us" src="images/avatar-dhg.png">
            </li></ul>
        </div>
    </li>

    <li class="b rv agz">
        <span class="h bao axc aey yb"></span>

        <div class="rw">
            <small class="acx axc">3 min</small>
            <div class="bpb">
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Dave Gamache</strong></a> uploaded a photo
            </div>

            <div class="boy" data-grid="images"><img style="display: inline-block; width: 519px; height: 503px; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;" data-width="640" data-height="640" data-action="zoom" src="instagram_3.jpg"></div>
        </div>
    </li>

    <li class="b rv agz">
        <span class="h bed axc aey yb"></span>

        <div class="rw">
            <small class="acx axc">3 min</small>
            <div class="bpb">
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Mark Otto</strong></a> flagged your post
            </div>

            <div class="pz aew">
                <div class="qa">
                    <div class="rv">
                        <img class="bos us aff yb" src="images/avatar-fat.jpg">
                        <div class="rw">
                            <div class="bpd">
                                <div class="bpb">
                                    <small class="acx axc">1 hr</small>
                                    <h6>Jacob Thornton</h6>
                                </div>
                                Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <li class="b rv agz">
        <span class="h bfn axc aey yb"></span>

        <div class="rw">
            <small class="acx axc">4 hr</small>
            <div class="bpb afa">
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Mark Otto</strong></a> and <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>2 others</strong></a> favorited your post
            </div>
            <ul class="bol">
                <li class="bom"><img class="us" src="images/avatar-dhg.png">
                </li><li class="bom"><img class="us" src="images/avatar-mdo.png">
            </li><li class="bom"><img class="us" src="images/avatar-fat.jpg">
            </li></ul>
        </div>
    </li>

    <li class="b rv agz">
        <span class="h bnb axc aey yb"></span>

        <div class="rw">
            <small class="acx axc">30 min</small>
            <div class="bpb">
                You followed <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Jacob Thornton</strong></a> and <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>1 other</strong></a>
            </div>

            <div class="aew">
                <div class="dp">
                    <div class="fm">
                        <div class="pz bpi afa">
                            <div class="qf" style="background-image: url(../images/instagram_4.jpg);"></div>
                            <div class="qa avz">
                                <img class="bpj" src="images/avatar-fat.jpg">
                                <h5 class="qb">Jacob Thornton</h5>
                                <p class="afo">Big belly rude boy, million dollar hustler. Unemployed.</p>
                                <button class="cg nz ok">
                                    <span class="h ayi"></span> Follow
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="fm">
                        <div class="pz bpi afa">
                            <div class="qf" style="background-image: url(../images/instagram_1.jpg);"></div>
                            <div class="qa avz">
                                <img class="bpj" src="images/avatar-mdo.png">
                                <h5 class="qb">Mark Otto</h5>
                                <p class="afo">GitHub and Bootstrap. Formerly at Twitter. Huge nerd.</p>
                                <button class="cg nz ok">
                                    <span class="h ayi"></span> Follow
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <li class="b rv agz">
        <span class="h bbr axc aey yb"></span>

        <div class="rw">
            <small class="acx axc">30 min</small>
            <div class="bpb afa">
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Jacob Thornton</strong></a> and <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>1 other</strong></a> updated their settings
            </div>
            <ul class="bol">
                <li class="bom"><img class="us" src="images/avatar-fat.jpg">
                </li><li class="bom"><img class="us" src="images/avatar-dhg.png">
            </li></ul>
        </div>
    </li>

    <li class="b rv agz">
        <span class="h bci axc aey yb"></span>

        <div class="rw">
            <small class="acx axc">1 min</small>
            <div class="bpb">
                <a href="https://bootstrap-themes.github.io/application/notifications/index.html#"><strong>Jacob Thornton</strong></a> quit his job
            </div>
        </div>
    </li>
    </ul>
</div>