<div class="pz afo d-none vy" th:fragment="homeSponsored">
    <div class="qa">
        <h6 class="afh">Sponsored</h6>
        <div data-grid="images" data-target-height="150"><img class="bos" data-width="640" data-height="640" data-action="zoom" src="images/instagram_2.jpg" style="width: 239px; height: 225px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;"></div>
        <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
        <button class="cg nz ok">Buy a ticket</button>
    </div>
</div>